body{
  background-color: #001542 !important;
}
.back-color{
background-color: #001542 !important; }

.list-items>ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner{
  background-image: url(./images/yoga7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 100%;
}
.banner2{
  background-image: url(./yoga1-01.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: 100%;
}
.banner-content{
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
  text-shadow: 1px 1px 3px #505050;
}

.btn-warning{
  border-radius: 45px !important; 
}

.card:hover{
  height:220px;
  width:220px;
}
